In [224]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
import os 
import numpy as np

In [226]:
path='https://raw.githubusercontent.com/vikrambj2019/basic/master/Data/'
filename_read = os.path.join(path,"excel_sudoku_v1.xlsx")
df = pd.read_excel(filename_read, sheet_name='Sheet1')

In [227]:
df.head()

    c1   c2   c3   c4   c5   c6   c7   c8   c9
0  NaN  NaN  NaN  7.0  NaN  2.0  NaN  NaN  NaN
1  7.0  NaN  NaN  1.0  9.0  NaN  NaN  NaN  NaN
2  NaN  5.0  NaN  NaN  NaN  NaN  NaN  8.0  1.0
3  NaN  NaN  4.0  8.0  NaN  NaN  NaN  6.0  NaN
4  NaN  1.0  7.0  9.0  NaN  NaN  4.0  NaN  NaN

In [229]:
def updateValuesStrategyOne(ls):
    
    a=np.argwhere(ls==0)
    
    for i in range(len(a)):   
        b=a[i]
        row=b[0]
        col=b[1]
        if row in (0,1,2):
            row_sq=0
        elif row in (3,4,5):
            row_sq=3
        else:
            row_sq=6
        
        if col in (0,1,2):
            col_sq=0
        elif col in (3,4,5):
            col_sq=3
        else:
            col_sq=6
        
        
        c=np.append(ls[row,:].tolist(),[ls[row_sq:row_sq+3,col_sq:col_sq+3].reshape(1,9).flatten().tolist(),ls[:,col].tolist()])
        list2=[1,2,3,4,5,6,7,8,9,0]
        d=set(list2).difference(c)
        if len(d)==1:
            ls[row,col]=list(d)[0]
    if np.argwhere(ls==0).size>0:
        flag="Puzzle is not complete"
    else:
        flag ="Puzzle is complete"
        print ("Puzzle is complete")
    return ls,flag

In [230]:
del ls1
ls1=df.values
ls1[np.isnan(ls1)] = 0

In [231]:
import time
start_time = time.time()
for i in range(0,100):
    ls1,flag=updateValuesStrategyOne(ls1)
    if flag=="Puzzle is complete":
        break
print("--- %s seconds ---" % (time.time() - start_time))

Puzzle is complete
--- 0.01695561408996582 seconds ---

In [232]:
ls1.sum()

405.0

In [233]:
ls1

array([[4., 6., 1., 7., 8., 2., 5., 9., 3.],
       [7., 8., 3., 1., 9., 5., 2., 4., 6.],
       [2., 5., 9., 6., 3., 4., 7., 8., 1.],
       [5., 9., 4., 8., 1., 7., 3., 6., 2.],
       [6., 1., 7., 9., 2., 3., 4., 5., 8.],
       [3., 2., 8., 5., 4., 6., 9., 1., 7.],
       [9., 3., 6., 2., 5., 1., 8., 7., 4.],
       [8., 7., 2., 4., 6., 9., 1., 3., 5.],
       [1., 4., 5., 3., 7., 8., 6., 2., 9.]])